@font-face {
    font-family: SegoeUI;
    src: url(SegoeUI.ttf);
  }

* {
    font-family:SegoeUI;
    font-weight:lighter;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;

}

.left-col{
    height: 100% !important;
    background-color: #1F1F1F;
    min-width: 1in !important;
    
    
}
.right-col{
    height: 100% !important;
    background-color: #000000;
    padding-left: 2em;
}
.side-card{
    height: 1cm !important;
    padding-left: 2em;
    padding-top: 0.2cm;
}
.side-card:hover{
    background-color: #353535;
}
table {
    border-collapse: collapse;
    
   
    width: 70%;
  }

  th{
      font-weight: bold;
      text-align: left;
  }
  tr:hover{
    background-color: #353535;
}



.profile{
    display: none;
}
.dash{
    display: inline-block;
}

button{
    width: 2.5cm;
    height: 1cm;
    padding: 0.1cm;
    background-color: #2F2F2F;
}
.new_item{
    width: 1cm;
    height: 1cm;
    background-color: #1F1F1F;
    text-align: center;

}
.new_item:hover{
    background-color: #353535;
}

.addnew{
    background-color: #000000;
    padding: 2px;
}